<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	
xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
>

<channel>
	<title>Farbod Jahan | Product Manager</title>
	<atom:link href="https://www.taylormccaslin.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.taylormccaslin.com</link>
	<description>Portfolio website for Product Manager Taylor McCaslin</description>
	<lastBuildDate>
	Sun, 17 Mar 2019 19:10:34 +0000	</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.1.1</generator>
<site xmlns="com-wordpress:feed-additions:1">130699450</site>	<item>
		<title>CS327E: Elements of Databases – Week 15</title>
		<link>https://www.taylormccaslin.com/2013/05/06/cs327e-week-15/</link>
				<pubDate>Mon, 06 May 2013 23:19:45 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=850</guid>
				<description><![CDATA[<p>This is the final post in a weekly series of blog posts I wrote documenting my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/05/06/cs327e-week-15/">CS327E: Elements of Databases – Week 15</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the final post in a weekly series of blog posts I wrote documenting my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p><strong>Monday April 29th</strong></p>
<p>Presentations continued today of teams overviewing their solutions to the final Projects (a summation of three separate projects). I am enjoying seeing how other teams divided work, how their code functioned, and their team dynamics. I&#8217;ll say watching these presentations has been informative to see more perspectives of how people work. As a hopeful future product manager, I&#8217;m enjoying seeing the differences between the way teams function and how their members interact.</p>
<p><strong>Wednesday May 1st</strong></p>
<p>Presentations continued today, our last day of class. Tomorrow evening is the exam, let the studying commence! I find that as I am about to study for this final exam, I am not having to try very hard. Professor Downing has structured the class such that you increasingly use the knowledge learned in class in your project, so really this final test is just another way to demonstrate those skills.</p>
<p><strong>Final Thoughts on the Course</strong><br />
This class has been the most beneficial to me in my entire educational pursuit thus far. Professor Downing crafted a class that uniquely blends skills, tools and concepts that are industry standard in a way that mirrors a real world software team. While difficult, this class has pushed me to become a better developer and manager. Even as someone who has used databases, python, APIs, agile, and source control, I have grown as a developer in proficiency, comfort, and speed using these tools and concepts. I have increased my experience working with and managing other developers through both in person and digital communication and issue tracking.</p>
<p>This class prepares students for what they may face in a real world application of these skills, and that is indeed is the most invaluable takeaway from this class. The projects mirrored agile sprints, and each project built upon the previous, providing a final product that demonstrates a much deeper and overarching understanding of skills than each project individually could have done.</p>
<p>This class has pushed me out of my comfort zone, it has challenged me, and I have grown from the experience.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/05/06/cs327e-week-15/">CS327E: Elements of Databases – Week 15</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
									<post-id xmlns="com-wordpress:feed-additions:1">850</post-id>	</item>
		<item>
		<title>CS327E: Elements of Databases – Week 14</title>
		<link>https://www.taylormccaslin.com/2013/04/28/cs327e-week-14/</link>
				<comments>https://www.taylormccaslin.com/2013/04/28/cs327e-week-14/#comments</comments>
				<pubDate>Mon, 29 Apr 2013 01:03:12 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=817</guid>
				<description><![CDATA[<p>This is the fourteenth post in a weekly series of blog posts I will be writing to document my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/04/28/cs327e-week-14/">CS327E: Elements of Databases – Week 14</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the fourteenth post in a weekly series of blog posts I will be writing to document my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p><strong>Monday April 22nd</strong></p>
<p>Today is our last day of new SQL topics, we covered Outer Joins.</p>
<blockquote><p>An SQL query walked into a bar and asked to join a table&#8230;..</p></blockquote>
<p>As I have quickly learned SQL is all about the joins. Doing them naturally, on specific columns, from the left, from the right, full joins. They go on and on, however it&#8217;s the fundamental power of SQL in my mind. The ability to build connections between data and then filter and run functions on that data. In other news the final project is due on Wednesday. Our group is meeting today and tomorrow to continue working. I&#8217;m working on editing the import and export functionality to match the new SQL schema that was chosen from the last project. I&#8217;m getting very frustrated as my SQL schema was very consistant with column names, and the chosen schema is not, making it hard to query data and get what you need from the database. I guess Professor Downing has made his point though, a database, no matter what data it contains is only as good as the schema it was built from. A bad schema really limits what you can do, and makes everything much more complicated than it has to be.</p>
<p><strong>Wednesday April 24th</strong></p>
<p>Today I gave a Tech Talk to class, which is a follow up to my initial Tech Talk during the Cohen New Works Festival entitled, &#8220;<a id="b43b6709c670e86d6499734ba7688262" href="https://www.newworksfestival.org/tech-talk/">Tech Talk: A Workshop for Information Technology in the Arts</a>&#8220;. This second talk is focusing primarily on my use of Databases during the Festival to manage and maintain large amounts of data that changed often and was pushed to lots of different platforms. The jist of the talk was basically me using RESTful APIs to import and export data into a centralized database which then fed updated information into our Online Ticketing System (<a href="https://www.ticketleap.com/">TicketLeap</a>), Mobile SmartPhone App (<a href="https://www.shoutem.com/">Shoutem</a>) and Online Schedule (<a href="https://sched.org/">Sched</a>).</p>
<blockquote class="twitter-tweet" width="550">
<p>Fantastic <a href="https://twitter.com/hashtag/TechTalk?src=hash">#TechTalk</a> today about <a href="https://twitter.com/utnewworks">@utnewworks</a>&#39; use of <a href="https://twitter.com/hashtag/databases?src=hash">#databases</a> &#8211; <a href="https://twitter.com/panic">@panic</a>&#39;s Coda 2 <a href="https://twitter.com/MySQL">@MySQL</a> <a href="https://twitter.com/hostmonster">@hostmonster</a> <a href="https://twitter.com/ticketleap">@ticketleap</a> <a href="https://twitter.com/sched">@sched</a> <a href="https://twitter.com/shoutem">@shoutem</a> <a href="https://twitter.com/WordPress">@WordPress</a></p>
<p>&mdash; Taylor McCaslin (@Taylor4484) <a href="https://twitter.com/Taylor4484/statuses/327271443782045696">April 25, 2013</a></p></blockquote>
<p><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
<p>Overall I think the talk gave the class a look into how what we are learning in class can be put into real world practice. Furthermore I think it gives them a glimpse into what their newly learned skills can allow them to do!</p>
<p><strong>Friday, April 26th</strong></p>
<p>Today was our group&#8217;s presentation for our final project. This week has been so busy working on this project with my group. I have probably spend at least 15 hours on it just this week alone. But we got it done (we are quite thankful for the day extension Professor Downing provided to the class). If there is one thing that I have learned from this project it is that I need to take the amount of time I think something is going to take to program, and double it for a more realistic estimate. I found a great article that talks about why humans are bad at estimating:</p>
<blockquote class="twitter-tweet" width="550">
<p>&quot;Writing Software = Learning Something You Don’t Know When You Start&quot; &#8211; Coding Fast &amp; Slow &#8211; <a href="https://t.co/YLZjkYAtUe">https://t.co/YLZjkYAtUe</a></p>
<p>&mdash; Taylor McCaslin (@Taylor4484) <a href="https://twitter.com/Taylor4484/statuses/327983822522159104">April 27, 2013</a></p></blockquote>
<p><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
<p>Our presentation went very well. Overall, I am very happy with how the project turned out, and I have learned so much and enjoyed writing code with my six other team members. It&#8217;s been quite an experience, and I&#8217;m looking forward to taking what I learned and putting it into real world practice! You can check out our Prezi Presentation below:</p>
<div class="embed-container">
<iframe src="https://prezi.com/embed/0166456e6677975e0f1d2cdc02cec9c658eae490/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" frameBorder="0"></iframe></div>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/04/28/cs327e-week-14/">CS327E: Elements of Databases – Week 14</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.taylormccaslin.com/2013/04/28/cs327e-week-14/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
						<post-id xmlns="com-wordpress:feed-additions:1">817</post-id>	</item>
		<item>
		<title>CS327E: Elements of Databases – Week 13</title>
		<link>https://www.taylormccaslin.com/2013/04/22/cs327e-week-13/</link>
				<comments>https://www.taylormccaslin.com/2013/04/22/cs327e-week-13/#comments</comments>
				<pubDate>Mon, 22 Apr 2013 05:26:30 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=809</guid>
				<description><![CDATA[<p>This is the thirteenth post in a weekly series of blog posts I will be writing to document my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/04/22/cs327e-week-13/">CS327E: Elements of Databases – Week 13</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the thirteenth post in a weekly series of blog posts I will be writing to document my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p><strong>Monday April 15 &amp; Wednesday April 17th</strong></p>
<p>I missed both Monday and Wednesday due to illness. I followed the slides from home. We covered Functional Dependencies and MySQL Update command. This week has been much slower, which has been nice. The calm before finals. Next week we have the final project due and our group gives our final presentation on Friday. I&#8217;m also doing a presentation on Wednesday over the ways in which I used databases in my work as the Information Technology Manager for The Cohen New Works Festival. I&#8217;m looking forward to it.</p>
<p><strong>Friday, April 19th</strong></p>
<p>Today I was back in class, which was good, I got so tired of being home and doing nothing all day. That&#8217;s just not my style. We covered Multivalued Functional Dependencies. While it was a little confusing at first, I think I know have it making sense in my head. It&#8217;s all about the different combinations of attributes, and preventing data duplication. We also covered Database closure.</p>
<p><a title="CS327E: Elements of Databases – Week 14" href="https://www.taylormccaslin.com/2013/04/28/cs327e-week-14/">Check out next week’s blog post</a>.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/04/22/cs327e-week-13/">CS327E: Elements of Databases – Week 13</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.taylormccaslin.com/2013/04/22/cs327e-week-13/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
						<post-id xmlns="com-wordpress:feed-additions:1">809</post-id>	</item>
		<item>
		<title>CS327E: Elements of Databases – Week 12</title>
		<link>https://www.taylormccaslin.com/2013/04/13/cs327e-week-12/</link>
				<comments>https://www.taylormccaslin.com/2013/04/13/cs327e-week-12/#comments</comments>
				<pubDate>Sat, 13 Apr 2013 06:20:06 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=635</guid>
				<description><![CDATA[<p>This is the twelfth post in a weekly series of blog posts I will be writing to document my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/04/13/cs327e-week-12/">CS327E: Elements of Databases – Week 12</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the twelfth post in a weekly series of blog posts I will be writing to document my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p>Check out my <a title="CS327E: Elements of Databases – Week 11" href="https://www.taylormccaslin.com/2013/04/05/cs327e-week-11/" target="_blank">previous week’s blog post</a>.</p>
<p><strong>Monday, April 8</strong></p>
<p>We talked about database design today. We reviewed normal forms of databases and what they all meant, as well as discussed when it might be beneficial or not to store data in a de-normalized form. While this discussion might have been more helpful prior to us creating the database schema for the fourth project, it does help having already designed a simple database to better understand the concepts of data normalization. I&#8217;m looking forward to adapting our database to the chosen MySQL schema.</p>
<p><strong>Wednesday, April 10</strong></p>
<p>Today we covered working with NULLS and more complex insert statements. This paired with out discussion on Monday. Again I wish we had covered this before the fourth project, but again I was better able to understand the topic having already messed around with pushing data into a database. I&#8217;m looking forward to start using databases to query my own datasets. I usually work in excel (I&#8217;ve honed my excel function master skills over the past year), however Excel doesn&#8217;t have a easy way to create complex queries like SQL does. Excel is better suited at looking at data as a whole, while databases are better for querying data and returning results based on selected datasets.</p>
<p><strong>Friday, April 13</strong></p>
<p>Unfortunately I was out sick today. I think I have come down with the flu. I&#8217;m hoping to sleep this off this weekend, and be back ready to go on Monday. We will see!</p>
<p><a title="CS327E: Elements of Databases – Week 13" href="https://www.taylormccaslin.com/2013/04/22/cs327e-week-13/">Check out next week’s blog post</a>.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/04/13/cs327e-week-12/">CS327E: Elements of Databases – Week 12</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.taylormccaslin.com/2013/04/13/cs327e-week-12/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
						<post-id xmlns="com-wordpress:feed-additions:1">635</post-id>	</item>
		<item>
		<title>CS327E: Elements of Databases – Week 11</title>
		<link>https://www.taylormccaslin.com/2013/04/05/cs327e-week-11/</link>
				<comments>https://www.taylormccaslin.com/2013/04/05/cs327e-week-11/#comments</comments>
				<pubDate>Sat, 06 Apr 2013 03:23:55 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=621</guid>
				<description><![CDATA[<p>This is the eleventh post in a weekly series of blog posts I will be writing to document my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/04/05/cs327e-week-11/">CS327E: Elements of Databases – Week 11</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the eleventh post in a weekly series of blog posts I will be writing to document my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p>Check out my <a title="CS327E: Elements of Databases – Week 10" href="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/" target="_blank">previous week’s blog post</a>.</p>
<p><strong>Monday, April 1</strong></p>
<p>The crunch is on, project #4 is due on Wednesday and our group is having some disfunction. I&#8217;m trying my best to keep pushing forward despite the issues, but this week I am being bogged down with makeup work I missed from last week during the Festival. I take the makeup Test #2 for this class tomorrow. I&#8217;m a little nervous considering I missed all of last week. After tomorrow afternoon I&#8217;ll be able to focus on the project and then I&#8217;m looking forward to the weekend, the first weekend I&#8217;ll have completely off in a long time, though I&#8217;m sure I&#8217;ll start worrying about updating my online portfolio to start applying for jobs after college. I can&#8217;t believe it&#8217;s been three years. While I&#8217;m so ready to get into the working world, I am a little nervous. I&#8217;ve only ever known school. Sure I&#8217;ve had experience at internships, but I&#8217;ve always come back to school for more semesters of learning. It will be quite interesting to not have that to come back to. Real life, here I come!</p>
<p><strong>Wednesday, April 3</strong></p>
<p>Project 4 was originally due today, earlier in the afternoon Professor Downing extended the deadline to tomorrow. I&#8217;m very grateful  our team would not have met the deadline. We had some group dynamic issues, mainly related to team members not pulling their weight so we were a little behind. Today the group pulled together and we have all been working remotely on the requirements. I spent most of the afternoon/evening working on the import python file (which is sitting just over 1000 lines in length presently) which parses the XML file and imports the data into our database. I wrote the schema for our DB, I&#8217;m about 90% sure I have it to third normal form, but I am positive it&#8217;s for sure 1st normal form. I had a lovely discussion on Piazza with a fellow classmate about not trying to put multiple values into a single column attribute, a direct violation of 1st normal form. In other news I got back my second test yesterday, and it is less than what I wanted. I got a nearly perfect score on the code writing section, but did poorly on the multiple choice. I talked about this briefly on an early blog entry, but I don&#8217;t feel that multiple choice really tests you on anything in computer science. The part of coding and computer science that I really like is that there are a million different ways to arrive at the right solution, and it&#8217;s very clear if your solution works or doesn&#8217;t. An open ended question where you write code, in my opinion  tests a person&#8217;s understanding of concepts much more effectively than a multichoice, pick the code fragment that does what the question asks. For me when I attempt to answer those multichoice questions its very common that the answers don&#8217;t fit into the way I think. You get four code fragments that have minimal changes between them and you have to identify which one doesn&#8217;t do exactly what is desired. To me that&#8217;s a picky syntax question. Yes syntax is important, but when I can write my own code fragment (as I usually do on these questions) that I know solves the problem, but isn&#8217;t one of the answer choices, then I get worried and start questioning the syntax and logic behind my code, and inevitably choose the wrong answer. Anyway, despite my less than ideal test grade, it&#8217;s clear I have room for improvement. I&#8217;m looking forward to seeing the test, so I can see what multichoice questions I missed.</p>
<p><strong>Friday, April 5</strong></p>
<p>We had a wonderful presentation on MongoDB from a rep at<a title="10 Gen" href="https://www.10gen.com/" target="_blank"> 10 Gen</a>, the MongoDB Company. The main focus was how MongoDB as a NoSQL Database was different from Relational Databases. Despite already being familiar with NoSQL databases, it was really great to hear from an industry professional!</p>
<blockquote class="twitter-tweet" width="550">
<p>Had a great presentation by <a href="https://twitter.com/crcsmnky">@crcsmnky</a> on <a href="https://twitter.com/MongoDB">@MongoDB</a> today in CS327E Elements of <a href="https://twitter.com/hashtag/Databases?src=hash">#Databases</a> <a href="https://twitter.com/UTAustin">@UTAustin</a>  <a href="https://twitter.com/10gen">@10gen</a></p>
<p>&mdash; Taylor McCaslin (@Taylor4484) <a href="https://twitter.com/Taylor4484/statuses/320222264807272448">April 5, 2013</a></p></blockquote>
<p><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
<p>In other news, our team finished Project #4 yesterday. I&#8217;ve very happy with our solution, however at over 1000 lines of Python and SQL code, I&#8217;m not sure it&#8217;s the most efficient. I&#8217;m very curious to see other team&#8217;s solutions, I&#8217;m hoping to arrange a code review with a few other teams so we can all evaluate each other&#8217;s code and see what is most effective for solving this problem of getting XML data into a relational database.</p>
<p><a title="CS327E: Elements of Databases – Week 12" href="https://www.taylormccaslin.com/2013/04/13/cs327e-week-12/">Check out next week’s blog post</a>.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/04/05/cs327e-week-11/">CS327E: Elements of Databases – Week 11</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.taylormccaslin.com/2013/04/05/cs327e-week-11/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
						<post-id xmlns="com-wordpress:feed-additions:1">621</post-id>	</item>
		<item>
		<title>CS327E: Elements of Databases – Week 10</title>
		<link>https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/</link>
				<comments>https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/#comments</comments>
				<pubDate>Mon, 01 Apr 2013 04:31:07 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=553</guid>
				<description><![CDATA[<p>This is the tenth post in a weekly series of blog posts I will be writing to document my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/">CS327E: Elements of Databases – Week 10</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the tenth post in a weekly series of blog posts I will be writing to document my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p>Check out my <a title="CS327E: Micheal Taylor McCaslin – Elements of Databases – Week 9" href="https://www.taylormccaslin.com/2013/03/24/cs327e-week-9/" target="_blank">previous week’s blog post</a>.</p>
<p>This week I was not in class due to my involvement with <a title="The Cohen New Works Festival" href="https://newworksfestival.org/" target="_blank"><em>The Cohen New Works Festival presented by the University Co-op</em></a>, for which I am the Information Technology Manager. This week culminated over a year and a half worth of work on the Festival.</p>
<p><em>The Cohen New Works Festival presented by the University Co-op,</em> is a week-long showcase of new work created by UT students held every other Spring in various locations in and around the Winship Drama Building and the University of Texas campus. It is not just an event, but a celebration of a continuously ongoing process–the creation of new work.</p>
<p>This Festival was the first to have an IT Manager, and I will say there was a lot to do. I redesigned the Festival website, implemented a ticketing reservation system for the 12,800 tickets to the festival, implemented a mobile smartphone application and created interactive information displays. I also hosted an event at the festival entitled, Tech Talk: A Workshop for Information Technology in the Arts. The  session was held as a place to talk about how technology is changing the way we make, consume and interact with the arts. From digital media, to social media to databases to smartphone applications. Below are some photos from the week. I filmed the Tech Talk, I&#8217;ll be posting in on youtube this week, and I&#8217;ll provide the link.</p>
<p><a title="CS327E: Elements of Databases – Week 11" href="https://www.taylormccaslin.com/2013/04/05/cs327e-week-11/">Check out next week’s blog post</a>.</p>

<a href='https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/644564_10152690497625557_1659241108_n/'><img width="150" height="150" src="https://www.taylormccaslin.com/wp-content/uploads/2013/03/644564_10152690497625557_1659241108_n-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/644564_10152690497625557_1659241108_n-150x150.jpg 150w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/644564_10152690497625557_1659241108_n-80x80.jpg 80w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/644564_10152690497625557_1659241108_n-400x400.jpg 400w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/644564_10152690497625557_1659241108_n-300x300.jpg 300w" sizes="(max-width: 150px) 100vw, 150px" data-attachment-id="567" data-permalink="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/644564_10152690497625557_1659241108_n/" data-orig-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/644564_10152690497625557_1659241108_n.jpg" data-orig-size="960,717" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Festival ITHQ" data-image-description="" data-medium-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/644564_10152690497625557_1659241108_n-610x456.jpg" data-large-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/644564_10152690497625557_1659241108_n-930x695.jpg" /></a>
<a href='https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0167/'><img width="150" height="150" src="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0167-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0167-150x150.png 150w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0167-80x80.png 80w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0167-400x400.png 400w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0167-300x300.png 300w" sizes="(max-width: 150px) 100vw, 150px" data-attachment-id="563" data-permalink="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0167/" data-orig-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0167.png" data-orig-size="640,1136" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="IMG_0167" data-image-description="" data-medium-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0167-610x1083.png" data-large-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0167.png" /></a>
<a href='https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0169/'><img width="150" height="150" src="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0169-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0169-150x150.png 150w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0169-80x80.png 80w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0169-400x400.png 400w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0169-300x300.png 300w" sizes="(max-width: 150px) 100vw, 150px" data-attachment-id="562" data-permalink="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0169/" data-orig-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0169.png" data-orig-size="640,1136" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Festival Bios" data-image-description="" data-medium-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0169-610x1083.png" data-large-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0169.png" /></a>
<a href='https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/32616_10152690496740557_2138013224_n/'><img width="150" height="150" src="https://www.taylormccaslin.com/wp-content/uploads/2013/03/32616_10152690496740557_2138013224_n-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/32616_10152690496740557_2138013224_n-150x150.jpg 150w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/32616_10152690496740557_2138013224_n-80x80.jpg 80w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/32616_10152690496740557_2138013224_n-400x400.jpg 400w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/32616_10152690496740557_2138013224_n-300x300.jpg 300w" sizes="(max-width: 150px) 100vw, 150px" data-attachment-id="566" data-permalink="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/32616_10152690496740557_2138013224_n/" data-orig-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/32616_10152690496740557_2138013224_n.jpg" data-orig-size="640,960" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="App in the Apple App Store!" data-image-description="" data-medium-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/32616_10152690496740557_2138013224_n-610x915.jpg" data-large-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/32616_10152690496740557_2138013224_n.jpg" /></a>
<a href='https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0171/'><img width="150" height="150" src="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0171-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0171-150x150.png 150w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0171-80x80.png 80w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0171-400x400.png 400w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0171-300x300.png 300w" sizes="(max-width: 150px) 100vw, 150px" data-attachment-id="560" data-permalink="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0171/" data-orig-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0171.png" data-orig-size="640,1136" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="In App Social Updates!" data-image-description="" data-medium-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0171-610x1083.png" data-large-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0171.png" /></a>
<a href='https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0166/'><img width="150" height="150" src="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0166-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0166-150x150.png 150w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0166-80x80.png 80w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0166-400x400.png 400w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0166-300x300.png 300w" sizes="(max-width: 150px) 100vw, 150px" data-attachment-id="564" data-permalink="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0166/" data-orig-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0166.png" data-orig-size="640,1136" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="IMG_0166" data-image-description="" data-medium-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0166-610x1083.png" data-large-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0166.png" /></a>
<a href='https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/nwf-tech-talk-workshop/'><img width="150" height="150" src="https://www.taylormccaslin.com/wp-content/uploads/2013/03/NWF-Tech-Talk-Workshop-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/NWF-Tech-Talk-Workshop-150x150.png 150w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/NWF-Tech-Talk-Workshop-80x80.png 80w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/NWF-Tech-Talk-Workshop-400x400.png 400w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/NWF-Tech-Talk-Workshop-300x300.png 300w" sizes="(max-width: 150px) 100vw, 150px" data-attachment-id="565" data-permalink="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/nwf-tech-talk-workshop/" data-orig-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/NWF-Tech-Talk-Workshop.png" data-orig-size="1680,936" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="NWF &#8211; Tech Talk Workshop" data-image-description="" data-medium-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/NWF-Tech-Talk-Workshop-610x340.png" data-large-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/NWF-Tech-Talk-Workshop-930x518.png" /></a>
<a href='https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0170/'><img width="150" height="150" src="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0170-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0170-150x150.png 150w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0170-80x80.png 80w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0170-400x400.png 400w, https://1ts2q04d2l9x3g3h5v4cpx3s-wpengine.netdna-ssl.com/wp-content/uploads/2013/03/IMG_0170-300x300.png 300w" sizes="(max-width: 150px) 100vw, 150px" data-attachment-id="561" data-permalink="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/img_0170/" data-orig-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0170.png" data-orig-size="640,1136" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="App Activity Feed" data-image-description="" data-medium-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0170-610x1083.png" data-large-file="https://www.taylormccaslin.com/wp-content/uploads/2013/03/IMG_0170.png" /></a>

<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/">CS327E: Elements of Databases – Week 10</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
						<post-id xmlns="com-wordpress:feed-additions:1">553</post-id>	</item>
		<item>
		<title>CS327E: Elements of Databases – Week 9</title>
		<link>https://www.taylormccaslin.com/2013/03/24/cs327e-week-9/</link>
				<comments>https://www.taylormccaslin.com/2013/03/24/cs327e-week-9/#comments</comments>
				<pubDate>Mon, 25 Mar 2013 04:30:39 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=552</guid>
				<description><![CDATA[<p>This is the ninth post in a weekly series of blog posts I will be writing to document my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin. Check out my previous week’s blog post. Monday, March 18 Spring break was well needed, however I did work most of [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/03/24/cs327e-week-9/">CS327E: Elements of Databases – Week 9</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the ninth post in a weekly series of blog posts I will be writing to document my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p>Check out my <a title="CS327E: Micheal Taylor McCaslin – Elements of Databases – Week 8" href="https://www.taylormccaslin.com/2013/03/17/cs327e-week-8/">previous week’s blog post</a>.</p>
<p><strong>Monday, March 18</strong></p>
<p><strong></strong>Spring break was well needed, however I did work most of the break, getting ready for The Cohen New Works Festival, which is now just one short week away! There is so much to do! In class today we reviewed some of the quarks of python, how it treats certain datatypes differently depending on context like sets, tuples and lists. Having worked with SQL and Python before, I understand why Professor Downing is spending extra time explaining some of python&#8217;s odd behavior. I remember getting such not being able to figure out why one of my variables would not hold a value. Hello immutable datatypes!</p>
<p><strong>Wednesday, March 20</strong></p>
<p>Today we introduced regular expressions. These are some of the most helpful yet confusing bits of programing to me. I&#8217;ve used them in text editors to find and replace certain patterns, however today we introduced much more than I have ever used. Of course we simply scratched the surface but  even with the bit we learned today, I feel like I have a much better understanding of regular expressions and how to use them. The chosen schema from Project 2 was announced this week. While it wasn&#8217;t my schema, I can&#8217;t argue, because the chosen schema was much better than mine. While mine was more strict, specific and complex, in hindsight that wasn&#8217;t the goal, the goal was to create a simple schema that provided just enough structure to organize data, but not complicate meeting the schema. Mine was simply too specific and too structured, which made validating data difficult. I&#8217;m happy with the chosen schema and look forward to adopting it in project 4!</p>
<p><strong>Friday, March 22</strong></p>
<p>The Festival is next week and I have so much work to do. My mind was else where during class today, but we introduced working with SQL from Python with the <a title="MySQLdb" href="https://mysql-python.sourceforge.net/MySQLdb.html">MySQL-Python library.</a> I&#8217;ll be out of class next week due to the festival, but luckily I have worked with python and MySQL before, so hopefully I&#8217;ll be able to get caught back up pretty quickly.</p>
<p><a title="CS327E: Micheal Taylor McCaslin – Elements of Databases – Week 10" href="https://www.taylormccaslin.com/2013/03/31/cs327e-week-10/">Check out next week’s blog post</a>.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/03/24/cs327e-week-9/">CS327E: Elements of Databases – Week 9</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.taylormccaslin.com/2013/03/24/cs327e-week-9/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
						<post-id xmlns="com-wordpress:feed-additions:1">552</post-id>	</item>
		<item>
		<title>CS327E: Elements of Databases – Week 8</title>
		<link>https://www.taylormccaslin.com/2013/03/17/cs327e-week-8/</link>
				<comments>https://www.taylormccaslin.com/2013/03/17/cs327e-week-8/#comments</comments>
				<pubDate>Mon, 18 Mar 2013 04:56:24 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=543</guid>
				<description><![CDATA[<p>This is the eighth post in a weekly series of blog posts I will be writing to document my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin. Check out my previous week’s blog post. Monday, March 4 Project 3 is due this week, I should be more panicked than I [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/03/17/cs327e-week-8/">CS327E: Elements of Databases – Week 8</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the eighth post in a weekly series of blog posts I will be writing to document my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p>Check out my <a title="CS327E: Micheal Taylor McCaslin – Elements of Databases – Week 7" href="https://www.taylormccaslin.com/2013/03/03/cs327e-week-7/">previous week’s blog post</a>.</p>
<p><strong>Monday, March 4</strong></p>
<p>Project 3 is due this week, I should be more panicked than I am, considering we still don&#8217;t have a working validated schema. I think all the groups are just kind of waiting eachother out to see who will post something to the public repo. If nothing is there by Tuesday, I&#8217;ll start my own. Who knows maybe I&#8217;ll try to get one together for the class to adopt. I like the direction our group is going, we are all agreeing on the attributes and details of the schema we want, it&#8217;s just an issue of writing the XSD now. Ugh.</p>
<p><strong>Wednesday, March 6</strong></p>
<p>Today was the opening of the new Computer Science building. Despite having the day off to be able to attend the festivities, I was unable to due to having to prepare for other classes. I spent the whole day locked in my apartment studying and working on project 3, particularly the XSD Schema. My group didn&#8217;t do well trying to work together on the schema, as most of my group just didn&#8217;t understand the specifics of the XSD, so as the team leader for the week I took charge and spearheaded the XSD building on the base of another group&#8217;s schema, adapting it to our group&#8217;s element attributes and characteristics and then extending it to fit some of our specific needs. Late in the day I <a title="Github: Taylor4484 - Public XSD" href="https://github.com/Taylor4484/publicXSD">published my XSD</a> in an effort to get other groups to adopt the schema.</p>
<p><strong>Friday, March 8</strong></p>
<p>Well I submitted the project yesterday with just a few seconds to spare. I was rushing to get my group&#8217;s XML to validate against the XSD that was constantly evolving. I ended up having to go bug hunting looking for attributes that were incorrect or data types that didn&#8217;t validate. It was painstaking, but I got it done. In the end I believe that 3 or 4 other groups adopted our schema, which is exciting. I&#8217;m hoping our schema is selected for the class to move forward with. I&#8217;m still not happy with how I handled the url data type (XSD:URI) just doesn&#8217;t degrade gracefully when you are dealing with urls that have query data appended to it. I&#8217;m thinking about using regular expressions to match urls, but that&#8217;s complex as there are many cases, http, https, non-http links. Anyway, I&#8217;m now home free for Spring Break and it is time for a break!</p>
<p><a title="CS327E: Micheal Taylor McCaslin – Elements of Databases – Week 9" href="https://www.taylormccaslin.com/2013/03/24/cs327e-week-9/">Check out next week’s blog post</a>.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/03/17/cs327e-week-8/">CS327E: Elements of Databases – Week 8</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.taylormccaslin.com/2013/03/17/cs327e-week-8/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
						<post-id xmlns="com-wordpress:feed-additions:1">543</post-id>	</item>
		<item>
		<title>CS327E: Elements of Databases – Week 7</title>
		<link>https://www.taylormccaslin.com/2013/03/03/cs327e-week-7/</link>
				<comments>https://www.taylormccaslin.com/2013/03/03/cs327e-week-7/#comments</comments>
				<pubDate>Mon, 04 Mar 2013 05:04:59 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=528</guid>
				<description><![CDATA[<p>This is the seventh post in a weekly series of blog posts I will be writing to document my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin. Check out my previous week’s blog post. Monday, February 25 We introduced our third project, which will mark out start into SQL [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/03/03/cs327e-week-7/">CS327E: Elements of Databases – Week 7</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the seventh post in a weekly series of blog posts I will be writing to document my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p>Check out my <a title="CS327E: Micheal Taylor McCaslin – Elements of Databases – Week 6" href="https://www.taylormccaslin.com/2013/02/24/cs327e-week-6/">previous week’s blog post</a>.</p>
<p><strong>Monday, February 25</strong></p>
<p>We introduced our third project, which will mark out start into SQL work in projects. This first project is essentially designing a XML schema XSD and generating ten entries that validate with the schema. We will later be merging the data from all the groups in the class using a chosen group&#8217;s schema. My group is six people (with a seventh person who is evaluating the class) and I have been chosen as the group leader due to my experience with XML, Git and Github. While I think this first part of the project is very simply, I am a bit scared of having to deal with six UT Student&#8217;s schedules. It&#8217;s one thing when you are working with a large team that works at the same company that at least has somewhat of a similar schedule. When working with students at a large university, all from different majors, group meetings quickly become difficult to arrange.</p>
<p><strong>Wednesday, February 27</strong></p>
<p>We dove back into SQL today, mainly talking about relations and reviewing what we had covered thus far. I have a pretty good intuition writing SQL queries. I got my exam back and got near perfect on the hand coding section, while I missed a few on the multichoice. I never was much of a multichoice test taker. I did the International Baccalaureate (IB) program in high school and we almost never had multichoice exams, they were almost always free response / essay questions. I thing those types of questions allow you more of a chance to demonstrate your knowledge rather than testing some specific something with a multichoice questions. I did well on the exam as a whole, so I can&#8217;t complain. I&#8217;m enjoying the class and find the material very interesting, and very useable in the real world!</p>
<p><strong>Friday, March 1</strong></p>
<p>We had our first meeting Thursday evening. We met at the PCL (aka PCHELL). I really do despise that building. I don&#8217;t find it very captivating to work in. I&#8217;m someone who is very affected by my work surroundings and the Perry Caseñeda Library just doesn&#8217;t do it for me. We met for two hours. I taught/reviewed git branching with everyone, as I am adamant that everyone know how to use it. We then started discussing the XML schema we wanted to use. Overall a good meeting, though its hard to get six people to agree on one thing. Let&#8217;s wait and see how messy this gets when we have to import the other class group&#8217;s data (using different schema) into our XML. Collisions. Collisions. Collisions. Professor Downing has suggested we as a class agree on a schema, but you try to get ~45 students to agree on one thing, impossible. So we will see what happens. I shared Schema.org with everyone in the class in hopes that they might take some design clues from it. We will see!</p>
<p><a title="CS327E: Micheal Taylor McCaslin – Elements of Databases – Week 8" href="https://www.taylormccaslin.com/2013/03/17/cs327e-week-8/">Check out next week’s blog post</a>.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/03/03/cs327e-week-7/">CS327E: Elements of Databases – Week 7</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.taylormccaslin.com/2013/03/03/cs327e-week-7/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
						<post-id xmlns="com-wordpress:feed-additions:1">528</post-id>	</item>
		<item>
		<title>CS327E: Elements of Databases – Week 6</title>
		<link>https://www.taylormccaslin.com/2013/02/24/cs327e-week-6/</link>
				<comments>https://www.taylormccaslin.com/2013/02/24/cs327e-week-6/#comments</comments>
				<pubDate>Mon, 25 Feb 2013 05:59:42 +0000</pubDate>
		<dc:creator><![CDATA[Taylor McCaslin]]></dc:creator>
				<category><![CDATA[CS327E]]></category>

		<guid isPermaLink="false">https://www.taylormccaslin.com/?p=519</guid>
				<description><![CDATA[<p>This is the sixth post in a weekly series of blog posts I will be writing to document my experience in CS327E, Elements of Databases, for the Elements of Computing Program at The University of Texas at Austin. Check out my previous week’s blog post. Monday, February 18 Today we blazed through SQL Subqueries. This has thus far been the [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/02/24/cs327e-week-6/">CS327E: Elements of Databases – Week 6</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>This is the sixth post in a weekly series of blog posts I will be writing to document my experience in <a href="https://www.cs.utexas.edu/users/downing/cs327e/drupal/">CS327E, Elements of Databases</a>, for the <a href="https://www.cs.utexas.edu/undergraduate-program/about/elements-computing-program">Elements of Computing Program</a> at The University of Texas at Austin.</p>
<p>Check out my <a title="CS327E: MICHEAL TAYLOR MCCASLIN – ELEMENTS OF DATABASES – WEEK 5" href="https://www.taylormccaslin.com/2013/02/17/cs327e-week-5/">previous week’s blog post</a>.</p>
<p><strong>Monday, February 18</strong></p>
<p>Today we blazed through SQL Subqueries. This has thus far been the most interesting SQL topic for me, as subqueries really allow complex questions to be answered. I keep thinking about how I hear the buzz words &#8220;BIG DATA&#8221; left and right in the tech industry these days. SQL subqueries are now the first thing my brain jumps to as a first step there. Answer questions that are interesting and worth answering by looking at data relationships. We compared the value of using subqueries over temporary tables and joins. Our first test is on Thursday, I feel really good about it. I&#8217;ve been keeping up with reading and playing around with the code we review in class. Its also my last semester of college, so tests don&#8217;t quite get to me like when I was a freshman. Wow, I can&#8217;t believe it&#8217;s been three years!</p>
<p><strong>Wednesday, February 20</strong></p>
<p>Today was mainly a review of everything we have covered thus far. For just a month of classes we have covered a pretty large range of topics including: Python, Pair Programing, XML, IDREFS, XSD, JSON, JSON schemas, Relational Algebra and now we are to SQL. It seems like a lot to fit into one test, but it makes a whole lot of sense. I&#8217;m really happy with how this course is organized, I feel like it&#8217;s a very logical structure that has really been thought out well. It&#8217;s also the most interesting and at this point most real-world of all my classes here at UT.</p>
<p><strong>Friday, February 21</strong></p>
<p>No class due to our first exam on Thursday evening. The test went really well, I feel very good about it. 20 multipul choice questions and 5 open ended questions where we wrote code. Multiple choice questions for coding are not my forte by any means, as I don&#8217;t really feel they are the best demonstration of knowledge, however I was pleased that the questions were very focused, and expected a reasonable level and depth of knowledge.</p>
<p><a title="CS327E: Micheal Taylor McCaslin – Elements of Databases – Week 7" href="https://www.taylormccaslin.com/2013/03/03/cs327e-week-7/">Check out next week’s blog post</a>.</p>
<p>The post <a rel="nofollow" href="https://www.taylormccaslin.com/2013/02/24/cs327e-week-6/">CS327E: Elements of Databases – Week 6</a> appeared first on <a rel="nofollow" href="https://www.taylormccaslin.com">Farbod Jahan | Product Manager</a>.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.taylormccaslin.com/2013/02/24/cs327e-week-6/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
						<post-id xmlns="com-wordpress:feed-additions:1">519</post-id>	</item>
	</channel>
</rss>
